.btn {
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 2px solid #e74c3c;
    border-radius: 0.6em;
    color: #e74c3c;
    display: flex;
    align-self: center;
    font-size: 1rem;
    /*font-weight: 500;*/
    line-height: 1;
    margin: 10px;
    /*padding: 1.2em 2.8em;*/
    text-decoration: none;
    text-align: center;
    /*text-transform: uppercase;*/
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
}
.btn:hover, .btn:focus {
    color: #131111;
        outline: 0;
    }
.third {
    border-color: #3498db;
    color: #FFF ;
    box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
    transition: all 150ms ease-in-out;
}
.third:hover {
        box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
    }
nav.navbar.navbar-expand-sm.navbar-toggleable-sm.navbar-light.bg-white.border-bottom.box-shadow.mb-3 {
    background-color: #3498db !important
}
td a.btn.third {
    width: 70px !important;
    display: block ;
    float: left !important;
    font-size: 12px !important;
    margin: 1px !important;
}